* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

main {
  position: relative;
}
/* navbar */
.Navbar {
  position: absolute;
  top: 1rem;
  height: 60px;
  width: 100vw;
}
nav {
  height: 100%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  padding: 10px;
  border-radius: 13px;
}
nav .img {
  height: 100%;
  width: 20%;
}
nav .img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
nav .options {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
nav .options button {
  font-size: 15px;
  height: 60%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* transition-duration: 0.4s; */
}
nav .options button:hover {
  font-size: 16px;
  border-bottom: 2px solid black;
}
.section1 {
  height: 80vh;
  width: 100vw;
  background-color: #016a70;
  color: white;
  padding: 10vh;
  display: flex;
}
.section1 .box1 {
  align-self: center;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  display: flex;
}
.section1 .box1 .txt {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}
.section1 .box1 .txt button {
  padding: 0.5rem;
  width: 30%;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.section1 .box1 .img {
  width: 50%;
  height: 90%;
}
.section1 .box1 .img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* section 2 */

.section2 {
  margin-top: 2rem;
  width: 100vw;
}
.section2 .box2 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.section2 .box2 .txt {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section2 .box2 .cont {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.section2 .box2 .cont .card {
  text-align: center;
  height: 200px;
  max-width: 300px;
  box-shadow: 1px 3px 5px 0px #989292;
  border-radius: 10px;
}
/* section 3 */

.section3 {
  margin-top: 2rem;
  width: 100vw;
}
.section3 .cont {
  display: flex;
  gap: 1.5rem;
  height: 30vh;
  width: 75%;
  margin: 0 auto;
}
.section3 .cont .img {
  height: 100%;
  width: 60%;
}
.section3 .cont .search {
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section3 .cont .search input {
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
.section3 .cont .img iframe {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* footer */
.footer {
  background-image: url("svgs/footer.png");
  background-size: cover;
  height: 55vh;
  width: 100vw;
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 0;
}

.footer .content {
  /* border: 1px solid black; */
  align-self: flex-end;
  display: flex;
  width: 80%;
  margin: 0 auto;
  color: white;
}

.footer .content .left {
  /* padding-top: 4%; */
  /* width: 40%; */
  font-weight: 400;
  font-size: small;
}

.footer .content .left .text {
  margin-top: 3%;
}

.footer .content .middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2vw 6vh;
  padding-left: 2%;
}

.footer .content .middle .head {
  font-size: large;
  font-weight: 500;
}

.footer .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 3%;
}

css

/* //About */

.page {
  width: 100vw;
  overflow-x: hidden;
}

.top {
  background-color: rgba(1, 106, 112, 1);
  min-height: 10vh;
  /* border: 2px solid red; */
  padding: 5vh;
  width: 100vw;
  position: relative;
}

.content {
  display: flex;
  gap: 3vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10vh;
  color: white;
  /* borde: 1px solid wheat; */
}

.text2 {
  max-width: 78%;
}

.image {
  width: 45vw;
  height: 45vh;
  /* border: 2px solid white; */
  /* border: 1px solid white; */
}

.image img {
  border-radius: 3%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content2 {
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  gap: 3vh;
  margin-left: 10%;
  margin-right: 10%;
  color: rgba(1, 106, 112, 1);
}

.image2 {
  width: 45vw;
  height: 45vh;
  /* border: 2px solid white; */
  /* border: 1px solid white; */
}

.image2 img {
  border-radius: 3%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* login page css */
/* //Login */

.Login .page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Login .page::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(svgs/bgc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
}

.Login .page .card {
  margin: auto;
  width: 18vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  background-color: white;
  border-radius: 1vh;
}

.Login .page .card .head {
  margin: 0 auto;
  font-size: xxx-large;
  font-weight: 700;
  margin-bottom: 15%;
  margin-top: 10%;
}

.Login .page .card .usernamepart .username {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  height: 4.5vh;
  border-radius: 1vh;
  border: 0;
  border-bottom: 1px solid black;
}

.Login .page .card .passwordpart {
  margin-top: 5%;
  font-weight: 600;
}

.Login .page .card .usernamepart {
  font-weight: 600;
}

.Login .page .card .passwordpart .password {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  height: 4.5vh;
  border-radius: 1vh;
  border: 0;
  border-bottom: 1px solid black;
  /* margin-top: ; */
}

.Login .page .card .btn {
  margin-top: 10%;
  margin-bottom: 30%;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgb(124, 192, 124),
    rgb(31, 123, 31)
  );
  border-radius: 3vh;
  /* border: 1px solid black; */
}

.Login .page .card .else {
  /* border: 1px solid black; */
  /* padding: auto; */
  justify-content: center;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}

.else .btn {
  width: 50%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgb(124, 192, 124),
    rgb(31, 123, 31)
  );
  border-radius: 3vh;
  /* border: 1px solid black; */
}

.Login .page .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.Login .page .text .elss_text {
  color: rgb(59, 59, 59);
  font-size: small;
}
/* Signup page */
/* CSS: */

.card_2 {
  /* border: 1px solid black; */
  margin: auto;
  width: 18vw;
  height: 70vh;
  /* margin-top: 20vh; */
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  background-color: white;
  border-radius: 1vh;
  /* align-items: center; */
  /* padding: 0 10%; */
  /* justify-content: center; */
}

.card_2 .head {
  /* display: flex; */
  /* align-items: center; */
  /* width: 100%; */
  margin: 0 auto;
  /* border: 2px solid black; */
  font-size: xxx-large;
  font-weight: 700;
  margin-bottom: 15%;
  margin-top: 10%;
}

.card_2 .usernamepart .username {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  height: 4.5vh;
  border-radius: 1vh;
  border: 0;
  border-bottom: 1px solid black;
}

.card_2 .emailpart .email {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  height: 4.5vh;
  border-radius: 1vh;
  border: 0;
  border-bottom: 1px solid black;
}

.card_2 .passwordpart {
  margin-top: 2%;
  font-weight: 600;
}

.card_2 .emailpart {
  font-weight: 600;
  margin-top: 3%;
}

.card_2 .usernamepart {
  font-weight: 600;
}

.card_2 .passwordpart .password {
  width: 100%;
  background-color: rgba(143, 22, 22, 0);
  border: 0;
  border-bottom: 1px solid black;
  height: 4.5vh;
  border-radius: 1vh;
  /* margin-top: ; */
}

.card_2 .btn {
  margin-top: 10%;
  margin-bottom: 30%;
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgb(124, 192, 124),
    rgb(31, 123, 31)
  );
  border-radius: 3vh;
  /* border: 1px solid black; */
}

.card_2 .else {
  /* border: 1px solid black; */
  /* padding: auto; */
  justify-content: center;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}

.card_2 .else .btn {
  width: 50%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgb(124, 192, 124),
    rgb(31, 123, 31)
  );
  border-radius: 3vh;
  /* border: 1px solid black; */
}

.card_2 .text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_2 .text .elss_text {
  color: rgb(59, 59, 59);
  font-size: small;
}

.card_2 .confirmpasswordpart .confirm_password {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  height: 4.5vh;
  border-radius: 1vh;
  border: 0;
  border-bottom: 1px solid black;
  /* margin-top: ; */
}

.card_2 .confirmpasswordpart {
  margin-top: 2%;
  font-weight: 600;
}
